* {
	background-color: black;
	text-align: center;
	font-family: Verdana;
}

h1 {
	font-size: 50px;
	font-weight:normal;
	color:white;
	text-align: center;
}

.download-link, a {
	color:aquamarine;
	font-size:16px;
}

p {
	font-size:21px;
	color:grey;
}

h2 {
	color:white;
	font-size:42px;
	font-weight: 300;
}

.copyright {
	text-align: right;
	padding:20px;
}

.phone-icon {
	padding: 20px;
}